<div class="header">
  <%= render "header"%>
</div>
<div class="desk">
  <div class="side-ber">
    <%= render "side_ber" %>
  </div>
  <div class="main-space">
    <%= render "main_space"%>
  </div>
</div>

Space#index