
  <section class="section" style="background-color:#f0ffff;">
    <div class="info-title">
      <h2 class="is-size-3">アプリの機能の説明</h2>
      <div class="back-btn">
        <%= link_to "TOPへ戻る", root_path, class: "button info-btn"%>
      </div>
    </div>
    <section class="section">
      店舗の営業を行うにあたり、スタッフのシフト管理を行えるアプリケーションです。<br>
      個人がそれぞれユーザーアカウントを所有し、所属している店舗に勤務時間の希望を提出し、管理者がそれを元にアプリケーション内でシフト表を作成することができるアプリケーションを作成しました。<br>
      <br>
      <p class="demo">デモ用に作成しているユーザーアカウントと店舗情報は削除できないように設定していますが、個別で作成したユーザーなどのデータは削除できます。</p>
      <br>
      ユーザーは、管理する店舗を作成できます。<br>
      この時、作成したユーザーは自動的に、その店舗の管理者権限を取得します。<br>

      <a href="https://gyazo.com/c1faac25ec727c400cdb517f441413e4"><img src="https://i.gyazo.com/c1faac25ec727c400cdb517f441413e4.png" alt="Image from Gyazo" width="913"/></a>
      <a href="https://gyazo.com/c3b16c94ae233b65b173acea27af1c3f"><img src="https://i.gyazo.com/c3b16c94ae233b65b173acea27af1c3f.png" alt="Image from Gyazo" width="609"/></a><br>

      店舗にスタッフを追加する場合は、店舗ページからスタッフを電話番号で検索し、追加することができます。<br>
      <a href="https://gyazo.com/c76c78b09c0912ec454a45d8ab0af1b3"><img src="https://i.gyazo.com/c76c78b09c0912ec454a45d8ab0af1b3.png" alt="Image from Gyazo" width="238"/></a><br>
      <br>
      追加されたスタッフは店舗のページへアクセスできるようになります。<br>
      また、店舗の管理者ユーザーであれば、スタッフのユーザーに管理者権限を渡すことができます。<br>
      <a href="https://gyazo.com/e27f62dff15a564e80df39e1c6521e7b"><img src="https://i.gyazo.com/e27f62dff15a564e80df39e1c6521e7b.png" alt="Image from Gyazo" width="797"/></a><br>
      <br>
      シフト希望を提出する時は、店舗ページから「シフトを提出する」から１日ごとに登録可能です。<br>
      <a href="https://gyazo.com/6addcea2f3e1b44ec33fa055a5b1f519"><img src="https://i.gyazo.com/6addcea2f3e1b44ec33fa055a5b1f519.png" alt="Image from Gyazo" width="1170"/></a><br>
      <a href="https://gyazo.com/cf54cfd201cfa894164f040e6c8ae093"><img src="https://i.gyazo.com/cf54cfd201cfa894164f040e6c8ae093.png" alt="Image from Gyazo" width="989"/></a><br>
      「シフト提出状況」は、誰が提出したかがわかるようにスタッフ各個人ごとの提出状況が表示されるようになっています。<br>
      提出されているかどうかの判定は、該当の月に１日でも登録があれば提出済みになります。<br>
      <a href="https://gyazo.com/e1392fc30bdce25c773f547ed9a3109e"><img src="https://i.gyazo.com/e1392fc30bdce25c773f547ed9a3109e.png" alt="Image from Gyazo" width="759"/></a><br>
    </section>
  </section>