.text-form {
  height: 80px;
  width: 100%;
}

.contents {
  display: flex;
  flex-wrap: wrap;
}

.message-box {
  border: 1px solid red;
  margin:20px 0 0 40px;
  width: 200px;
  text-align: center;
}

.store-list {
  width: 90%;
  background-color: #f0fff0;
  height: 50px;
  margin-bottom: 5px;
}

.side-ber {
  border-right: 1px solid black;
  height: 100vh;
}
.color-blue {
  color: blue;
}

.new-store {
  margin-bottom: 5px;
}

.delete-btn {
  margin-left: 5px;
  color:red;
}


.info-title {
  text-align: center;
}

.demo {
  background-color: yellow;
  color: red;
}

.info-btn {
  position: fixed;
}

.back-btn {
  margin-right: 75px;
  float:right;
}

.overflow {
  overflow: scroll;

}

.name-table {
  white-space: nowrap;
}

.border {
  width: 100%;
  border-bottom: 1px solid black;
}

.test {
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}



.test-active {
  display: block;
}

.close {
  float: right;
  cursor: pointer;
}

.cation {
  color: red;
  cursor: pointer;
}

#infomation {
  display: none;
}



.contacts {
  width: 50vw;
  height: 20vh;
}

.contact-title {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.contact-content {
  
}

.contact-form {
  display:none;
}

.title-form {
  width: 35vw;
}
.text-form {
  width: 40vw;
  height: 20vh;
}

#form-close {
  float:right;
  cursor: pointer;
}